body, html {
  height: 100%;
  margin: 0;
  font-weight: lighter;
  font-family: 'Courier New';
  font-size: 150%;

}

.top {
  position: relative;
  height: 30%;
  width: 100%;
  margin: auto;
  /* background-color: #fff; */
  display: inline-table;
  /* display: inline-table; */
  /* z-index: 1 */
  /* background: linear-gradient(to bottom right,#eacdd0, #fbf9f9); */
}
.bottom {
  position: relative;
  height: 70%;
  width: 100%;
  margin: auto;
  background-color: #fff;
  display: inline-table;

}
svg {
  position: absolute;
  width: 100%;
  top: 100%;
}
.title {
  margin-top: 1%;

  /* margin-bottom: 0px; */
  left: 5%;
  position: relative;
  /* height: 100%; */
  width: 50%;
  /* background-color: #fff; */
  font-size: 1.5em;
}
.small-text {
  left: 10%;
  font-size: 0.5em;
}
.center {
  position: relative;
  text-align: center;
  font-size: 0.5em;
  height: 5%;
}

ul {
    overflow: hidden;
    position: relative;
    overflow-y: scroll;

    height: 95%;
    letter-spacing: 10px;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.list {
    white-space:normal;
    position: relative;
    /* cursor: pointer; */
    line-height: 125px;
    /* color: #ccc; */
    /* transition: color 2s; */

}

.text {
  color: #ccc;
  transition: color 2s;
  cursor: pointer;
}

.text:hover {
    color: #333;
}
