ul {
    overflow: hidden;
    position: relative;
    z-index: 1;
/*    top used to be -100px;*/
    top: -50px; 
/*    height used to be 500px*/
    height: 400px;
    letter-spacing: 10px;
    list-style-type: none;
    text-align: center;
    
}



.list {
/*    white-space: nowrap;*/
    
    position: relative;
    
/*
    margin-left: 300px;
    margin-right: 300px;
*/
/*    orignal font size 50px*/
    pointer-events: none;
    font-size: 50px;
    cursor: pointer;
    line-height: 100px;
    color: #ccc;
    transition: color 2s;
    font-weight: lighter;
    font-family: 'Courier New';
}

.list:hover {
    color: #333;
}

div.background {
    position: relative;
    z-index: 2;
    text-align: center;
    height: 200px;
    background-color: black;
    margin: auto;
    outline: 3px solid whitesmoke;
    outline-offset: -10px;
}

div.whiteSpace {
    text-align: center;
    line-height: 50px;
    font-family: 'Courier New';
    
    background-color: white;
    height: 85px;
    position: relative;
    z-index: 2;
/*    top used to be 0px*/
    top: 35px;
}

h1 {
    position: inherit;
    top: 40%;
    letter-spacing: 5px;
    /*-webkit-font-smoothing: antialiased;*/
    font-family: 'Georgia', 'Courier New';
    font-weight: 100;
    color: whitesmoke;
    background-color: none;
    
}

.selected {
    color: #333;
}